#today-affirmation-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgreen;
    color: black;
    border-radius: 10%;
    width: 25rem;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.15);
}

#today-affirmation-container h2{
    font-size: 2em;
    margin-bottom: 10px;
}

#today-affirmation-container p{
    font-size: 1.5em;
    text-align: center;
    /* max-width: 400px; */
}